/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

body {
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: -4;
}

#root {
  position: relative;
  z-index: -3;
}

.App {
  position: relative;
  z-index: -2;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 50px;
  display: relative;
  background: lightslategray;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.svgWrap {
  height: 0;
  width: 100%;
}

.svg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 90%;
  left: 0;
  top: 0;
}

.content {
  display: relative;
  flex: 1;
  max-height: calc(100vh - 5rem);
  max-width: 14rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content-button {
  margin-bottom: 2rem;
}

.side-bar {
  z-index: 1;
  height: 100% !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  border-radius: 0;
  border-color: gray;
  backdrop-filter: blur(8px);
  transition: 0.8s ease;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.toggle-menu {
  z-index: 2;
  height: 50px;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 9rem;
  width: 15px;
  position: absolute;
  outline: none;
  z-index: 1;
  background-color: #ff0066;
  border-color: rgb(255, 121, 175);
  border-left: 0;
}

label {
  display: block;
  color: #4a5568;
  font-weight: 700;
  margin-bottom: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.field {
  width: 12rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-width: 1px;
  border-radius: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: #4a5568;
  line-height: 1.25;
}

.select-field {
  width: 97%;
}

.disabled {
  color: grey;
}

.checkLabel {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  padding-left: 0.2rem;
}

.checkbox {
  margin-right: 0.5rem;
}

.checkboxIcon {
  fill: currentColor;
  display: none;
  width: 1rem;
  height: 1rem;
  color: #4299e1;
  pointer-events: none;
  margin-right: 1rem;
}

.slider {
  margin: 1rem;
}

.error-message {
  color: #f56565;
  font-size: 0.75rem;
  font-style: italic;
}

input:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.submit-area {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.submit-button {
  border: none;
  background-color: #4299e1;
  color: white;
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.25rem;
}

.submit-button:hover {
  background-color: #2b6cb0;
}

.submit-button:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
